@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Raleway&family=Staatliches&family=Ultra&display=swap');

body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.3)),url(./assets/13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  background-position: center;
  background-attachment: fixed;
  position:relative;
  font-family: 'Raleway', sans-serif;
}

html{
  scroll-behavior: smooth !important;
}

/* Navbar */
.appNavBar{
  background-color: rgba(1, 1, 1, 0.4);
  backdrop-filter: blur(4px);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  z-index: 1;
}

.appNavBar img{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.appNavBar .dropdown-menu{
  background: linear-gradient(180deg, rgba(255,251,251,0.7259278711484594) 100%, rgba(4,3,113,0.25253851540616246) 100%);
  backdrop-filter: blur(8.5px) !important;
  border: none;
  z-index: 2 !important;
  border-radius: 20px;
  text-align: center;
  width: 200px !important;
}

.appNavBar .dropdown-menu{
  backdrop-filter: blur(4px);
}

.appNavBar .dropdown-menu a{
  color: #01072d !important;
  font-size: 20px;
  font-weight: 900 ;
}

.appNavBar .dropdown-menu .nav-link:hover{
  background: none !important;
  transform: scale(1.5);

}

.appNavBar .dropdown div{
  margin-top: 25px;
  
}

.appNavBar .navText, .navToggle{
  padding: 20px 0;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.appNavBar .nav-link{
  color: #fff !important;
  border-radius: 50px;
  transition: all 0.5s;
}

.appNavBar .nav-link:hover{
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50px !important;
  transform: scale(1.1);
}
/* End of Navbar */

/* Register */
.formBody, .logForm{
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8.5px);
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  padding: 0 50px;
}
.regTitle, .logTitle{
  margin: 3rem 0 2rem 0;
  color: #ffffff;
  letter-spacing: 0.4rem;
}

.cardBody .card{
  border: none !important;
  margin: 60px 0;
  background-color: transparent !important;
}

.formBody .formGroup,
.logForm .formGroup{
  display: flex;
  padding: 10px;
  align-items: center;
}

.formBody .form-label,
.logForm .form-label{
  transform: translateX(-70%);
  font-size: 20px;
  color: #06a1f1;
  border-radius: 50px;
  padding: 10px;
  background-color: #01072d;
}

.form-control{
  padding: 1rem !important;
  height: 3rem !important;
  width: 100% !important;
  background: rgba(255, 255, 255, 0.3) !important;
  box-shadow: 0 8px 32p 0 rgba(31, 38, 135, 0.37) !important;
  border-radius: 2rem !important;
  border: none !important;
  outline: none !important;
  color: #fff !important;
  font-weight: bold !important;
}

.form-control:focus{
  box-shadow: 0 0 2px 0.3rem  #049bdd !important;
  background-color: rgba(1, 1, 1, 0.4) !important;
}

.form-control::placeholder{
  color: aliceblue !important;
  font-style: italic ;
}

.btnSubmit{
  margin: none !important;
  background: linear-gradient(120deg, rgba(2,0,36,1) 1%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) !important;
  backdrop-filter: blur(0) !important;
  border-radius: 20px !important;
  height: 3.5rem !important;
  color: #fff !important;
  font-weight: 900 !important;
  font-size: 1rem !important;
  text-transform: uppercase;
  border: none !important;
  padding: 10px !important;
  width: 70%;
  align-items: center !important;
  text-align: center !important;
  transition: all 1s !important;
  box-shadow: 10px 10px 5px 0.2px rgba(0,0,0,0.60);
}

.btnSubmit:hover{
  background: linear-gradient(120deg, rgba(0,212,255,1) 1%, rgba(9,9,121,1) 35%, rgba(2,0,36,1) 100%) !important;
}

.horizontalRule{
  width: 100% !important;
  height: 0.3rem !important;
  border-radius: 0.8rem !important;
  border: none !important;
  margin: 1.5em 0 1rem 0 !important;
  background: linear-gradient(to right, #14163c 0%, #03217b 79%) !important;
  backdrop-filter: blur(25px) !important;
}

.card-footer{
  border: none !important;
  background: none !important;
}

p{
  color: #fff;
}

.sIcons{
  border-radius: 50px;
  background-color: transparent;
  border: 6px solid #01072d;
  text-align: center;
  color: #06a1f1;
  font-size: 70px;
  margin: 20px;
  padding: 13px;
  box-shadow: 10px 10px 5px 0.2px rgba(0,0,0,0.60);
  transition: all 1s;
}

.sIcons:hover{
  color: #01072d;
  background-color: #049bdd;
}

.sOption{
  margin-top: 20px;
}
/* End of Register */

/* Login */
.logBody .card{
  border: none !important;
  margin-top: 60px;
  background-color: transparent !important;
}
.logForm:enabled{
  transition: 1.1s ease-in-out;
  transition-delay: 0.2s;
  transform: translateX(100%);
}


/* .l{
  transition: 1.1s ease-in-out;
  transition-delay: 0.2s;
} */
/* End of Login */

/* Product */
.prodBody{
  border-radius: 10px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.3);
  background: linear-gradient(180deg, rgba(255,251,251,0.7259278711484594) 100%, rgba(4,3,113,0.25253851540616246) 100%);
  padding-bottom: 20px;
}

.prodBody div h2, .featuredContent div h2, .orderHistory h2,  .addCard h2{
  text-transform: uppercase;
  padding-top: 20px;
  font-weight: 900;
  font-size: 50px;
  color: #01072d;
}

.prodBody .card1{
  border-radius: 5px;
  width: 100%;
}


/* End of Product */

/* Highlights */
.featuredContent{
  padding-top: 20px !important;
  margin-top: 20px !important;
  background: linear-gradient(180deg, rgba(255,251,251,0.7259278711484594) 100%, rgba(4,3,113,0.25253851540616246) 100%);
  backdrop-filter: blur(8.5px) !important;
  border-radius: 20px;
}

.featuredBody .container{
  padding: 0 !important;
}

.featuredContent .card .card-title a, .prodBody  .card1 .card-body a{
  text-decoration: none;
  font-size: larger;
  font-weight: bolder;
  color:skyblue;
  text-transform: uppercase;
}

.featuredContent .card .card-body h5, .prodBody  .card1 .card-body h5{
  font-weight: 900;
  font-size: 35px;
  color:#03217b !important;
  border-radius: 20px;
  margin: 0 !important;
  padding: 0 !important;
}

.featuredContent .card1 p{
  font-size: 15px; 
}

.featuredContent .card1 .card-footer a, .prodBody  .card1 .card-footer a{
  text-transform: uppercase;
  font-weight: 600;
}

.fProducts .card, .prodBody .card1{
  border-radius: 20px;
  /* background-color: #01072d; */
  background: linear-gradient(180deg, rgba(1,7,45,1) 0%, rgba(194,211,219,0) 100%);
  /* background-color: rgba(1, 1, 1, 0.4) !important; */
  box-shadow: 10px 10px 5px 0.2px rgba(0,0,0,0.60);
  transition: all 0.5s;
  text-align: center;
}

.fProducts .card .btn, .prodBody .card1 .btn{
  border-radius: 10px;
  background-image: linear-gradient(
  45deg,
  hsl(198deg 96% 42%) 0%,
  hsl(200deg 100% 40%) 11%,
  hsl(203deg 100% 38%) 22%,
  hsl(206deg 100% 36%) 33%,
  hsl(210deg 100% 34%) 44%,
  hsl(213deg 100% 32%) 56%,
  hsl(217deg 100% 29%) 67%,
  hsl(222deg 100% 26%) 78%,
  hsl(229deg 100% 23%) 89%,
  hsl(243deg 100% 20%) 100%
);
  padding: 10px;
  width: 50%;
  border: none;
}

.fProducts .card .btn:hover, .prodBody .card1 .btn:hover{
  background-image: linear-gradient(
  145deg,
  hsl(198deg 96% 42%) 0%,
  hsl(200deg 100% 40%) 11%,
  hsl(203deg 100% 38%) 22%,
  hsl(206deg 100% 36%) 33%,
  hsl(210deg 100% 34%) 44%,
  hsl(213deg 100% 32%) 56%,
  hsl(217deg 100% 29%) 67%,
  hsl(222deg 100% 26%) 78%,
  hsl(229deg 100% 23%) 89%,
  hsl(243deg 100% 20%) 100%
);
}

.fProducts .card:hover, .prodBody .card1:hover{
  background-color: rgba(1, 1, 1, 0.4);
  transform: scale(1.01);
}

.btnBanner{
  background: linear-gradient(180deg, rgba(1,7,45,1) 0%, rgba(0,169,228,0.9528186274509804) 100%);
  border-radius: 10px !important;
  text-transform: uppercase;
  border: None !important;
  height: 50px;
  padding: 15px;
  transition: all 1s !important;
}

.btnBanner:hover{
  background: linear-gradient(180deg, rgba(0,169,228,0.9528186274509804) 0%, rgba(1,7,45,1) 100%);
  transform: scale(1.05) !important;
}

/* End of Highlights */

/* Banner */
.banner-slider{
  margin-top: 50px;
  display: flex;
}

.banner-content .highlightContent{
  padding-top: 50px;
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
}

.banner-slider .banner-content{
  background: linear-gradient(120deg, rgb(132, 111, 244), rgb(241, 118, 116));
  margin: 0 10px 0 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* background: rgba(255, 255, 255, 0.15); */
  backdrop-filter: blur(8.5px);
}
.banner-slider .slider-container, .banner-content{
  border-radius: 10px;
}

.brandSlicks{
  background: #ffffff;
  margin-top: 20px;
  border-radius: 20px;
  text-align: center;
}

.slick-track img{
  background: transparent !important;
  height: 100px;
  padding: 10px;
  transition: all 0.5s;
}

.slick-track img:hover{
  transform: scale(1.1);
}
/* end of Banner */

/* Admin View */

.adminBody{
  background: linear-gradient(180deg, rgba(255,251,251,0.7259278711484594) 100%, rgba(4,3,113,0.25253851540616246) 100%);
  border-radius: 10px;
}

.adminBody h2{
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  padding-top: 20px;
  color: #01072d;
}

.table-responsive{
  border-radius: 10px !important;
  margin: 0 10px;
  text-align: center;
}

.adminBody .d-flex button{
  border-radius: 10px;
  margin: 0 10px;
}

.table-responsive thead tr{
  border: none !important;
  box-shadow: none !important;
  background: #01072d !important;
  text-transform: uppercase;
}
.table-responsive thead tr th{
  border: none;
  padding: 20px;
}

.table-responsive tbody tr, td{
  padding-top: 10px;
  border: none !important;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #01072d;
  text-decoration: none;
}

.table-responsive tbody td a{
  text-decoration: none;
  color:#03217b;
  text-transform: uppercase;
}

.table-responsive tr{
  text-transform: capitalize;
  background-color: rgba(1, 1, 1, 0.4);
}
.table-responsive tbody td button{
  border-radius: 10px;
  margin-left: 5px;
}
/* End of Admin View */

/* MyCart */

.qtyInput {
  display: flex !important;
}



/* End of MyCart */



/* Modal */
.modal-content .modal-body .form-control{
  box-shadow: 0 0 2px 0.3rem  #049bdd !important;
  background-color: rgba(1, 1, 1, 0.4) !important;
  
}
/* End of Modal */

/* Order History */
.orderHistory{
  background: linear-gradient(180deg, rgba(255,251,251,0.7259278711484594) 100%, rgba(4,3,113,0.25253851540616246) 100%);
  border-radius: 10px;
  text-transform: uppercase;
}

.orderHistory .card, .adminBody .accordion div{
  background: none !important;
  border: none !important;
}

.orderHistory .accordion .card-header, .adminBody .accordion .card-header{
  background-color: #01072d !important;
  border-radius: 20px;
}

.orderHistory .accordion .card-body{
  font-weight: 900;
  font-size: 20px;
}

/* End of Order History */

/* Admin Product Details */
.adminBody .accordion div{
  padding: 0 10px;
}

button.accordion-button.collapsed, button.accordion-button{
  background-color: #01072d !important;
  border-radius: 20px;
  margin-bottom: 50px;
}

/* Admin Product Details */

/* Add Cart */
  .addCard{
    background: linear-gradient(180deg, rgba(255,251,251,0.7259278711484594) 100%, rgba(4,3,113,0.25253851540616246) 100%) !important;
  }
/* End of Add Cart */

div.mt-5.card{
  border-radius: 20px !important;
  background: none;
}

div.mt-5.card .card-header{
  background-color: #01072d !important;
  border-radius: 20px;
}

.cardAdd .mt-5{
  background: linear-gradient(180deg, rgba(255,251,251,0.7259278711484594) 100%, rgba(4,3,113,0.25253851540616246) 100%) !important;
}

.cardAdd .mt-5 div{
  background: none !important;
}
.cardAdd .mt-5 .card-body{
  background: none !important;
  background-color: rgba(1, 1, 1, 0.4) !important;
}

/* Footer */

.page-footer{
  background-color: rgba(1, 1, 1, 0.4);
  backdrop-filter: blur(4px);
  margin-top: 100px;
  color: #fff;
  /* border: none;
  z-index: 2 !important;
  border-radius: 20px;
  text-align: center;
  width: 200px !important; */
}

/* End of Footer */